@font-face{
font-family: proxima;
src: url("fontes/ProximaNova-Light.woff");
font-family: proximaBold;
src: url("fontes/proxima-nova-extrabold.woff-Light.woff");
}

nav#menu {
display:block;
}


nav#menu ul {
font-family: proxima, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
text-align: center;
position: absolute;
top: -15px;
left: 25%;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu li  {
display: inline-block;
background-color: white;
padding: 30px;
padding-left: 8px;
margin: -20px;
}

nav#menu li:hover {
    text-decoration: underline;
}

.inst {
    border-bottom: 8px solid #009ad9;
    height: 60px;
    width: 130px;  
    
}
.cur{
    border-bottom: 8px solid #058cc3;
    height: 60px; 
width: 130px;   

}
.blo {
border-bottom: 8px solid #05709b;
height: 60px; 
width: 130px;  
}
.ind {
border-bottom: 8px solid #044b68;
height: 60px;   
width: 130px;   
}

.logo {
position: absolute;
left: -200px;
top: 30%;

}

h1{
font-family: 'proximaBold', sans-serif;
font-size: 40pt;
font-weight: bolder;
color: #e7e7e7;
position: relative;
margin-left: 400px;
margin-top: 100px;
}

h2 {
font-family: proxima, sans-serif;
font-style: normal;
font-size: 18pt;
font-weight: 300;
position: relative;
margin-left: 50px;
margin-top: 40px;;
}

p {
font-family: proxima, sans-serif;
font-style: normal;
font-size: 12pt;
font-weight: 300;
position: absolute;
left: 300px;
top: 240px; 

}

.rodape {
position: relative;
margin-left: -300px;
}

input#search{
    background: url(imagens\buscaLupa.png);
    background-repeat: no-repeat;
width:40px;
height:40px;
border: 0;

}

.busca > input {
font-family: 'proxima' sans-serif;
font-size: 13pt;
border-radius: 30px;
padding: 8px;
padding-right: 10px;
width: 160px;
border: none;
background-image: url(imagens/buscaLupa.png);
background-repeat: no-repeat;
background-position: right;
position: static;
margin-left: 850px;
background-color: #eaeaea;


}
